<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Reservas</title>
</head>
<body>
    <h1>Lista de Reservas</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Teléfono</th>
                <th>Servicio</th>
                <th>Empleado</th>
                <th>Cliente</th>
            </tr>
        </thead>
        <tbody>
            {% for reserva in reservas %}
            <tr>
                <td>{{ reserva.id_reserva }}</td>
                <td>{{ reserva.fecha }}</td>
                <td>{{ reserva.hora }}</td>
                <td>{{ reserva.telefono }}</td>
                <td>{{ reserva.id_servicio }}</td>
                <td>{{ reserva.id_empleado }}</td>
                <td>{{ reserva.id_cliente }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{% url 'crear_reserva' %}">Crear Nueva Reserva</a>
</body>
</html>
